*.vsidx
*.suo
*.VC.db
*.json
*.ipch
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe.recipe
*.ilk
*.log
*.obj
*.lastbuildstate
*.command.1.tlog
*.read.1.tlog
*.write.1.tlog
*.items.tlog
*.command.1.tlog
*.read.1.tlog
*.secondary.1.tlog
*.write.1.tlog
*.idb
*.pdb
*.exe
*.VC
*.db-shm
*.db-wal
*.opendb